/* Remover campo branco do preenchimento automático */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: white !important; /* Cor do texto */
    -webkit-box-shadow: 0 0 0px 1000px rgb(41, 12, 12) inset !important; /* Cor de fundo do input */
    transition: background-color 5000s ease-in-out 0s;
}

/*Estilo geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #cbbba7;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .1s;
}

h2.titulo {
    padding: 25px;
    color: aliceblue;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: darkred;
    line-height: 1.31;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px darkred;
    transform: scale(1.1);
    transition: .2s;
}

html {
    scroll-behavior: smooth;
}

/* ESTILO DO CABEÇALHO*/
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: darkred;
    transform: scale(1.3);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO MENU MOBILE */
.btn-abrir-menu i {
    color: darkred;
    font-size: 40px;
}

.menu-mobile {
    background-color: #685a49;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
}

.menu-mobile.abrir_menu {
    width: 70%;
    transition: .5s;
}

.menu-mobile.abrir_menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: darkred;
    font-size: 35px;
}


.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: darkred;
    font-size: 25px;
    font-weight: 300;
    padding: 10px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #ffffff5f;
}

.overlay-menu {
    background-color: #685a49b9;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

img {
    width: 11.5rem;
    border-radius: 5px;
}

/*ESTILO TOPO*/
section.topo_do_site {
    padding: 40px 4%;
}

section.topo_do_site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px
}

.topo_do_site h1 {
    color: black;
    font-size: 42px;
    line-height: 40px;
}

.topo_do_site .txt_topo_site p {
    color: black;
}

.topo_do_site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* animações*/

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO ESPECIALIDADES*/
.section.especialidades {
    padding: 40px 4%;
}

.section.especialidades .flex {
    gap: 60px;
}

.especialidades .esp-box {
    color: rgb(72, 1, 1);
    padding: 40px;
    margin-top: 32px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .esp-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff5f;
}

.especialidades .esp-box i {
    font-size: 70px;
    color: darkred;
}

.especialidades .esp-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO SOBRE */
section.sobre {
    padding: 90px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: aliceblue;
    margin: 20px;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: darkred;
    font-size: 40px;
    display: block;

}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: darkred;
    font-size: 22px;
    cursor: pointer;
    margin: 0 4px;
    transition: .2s;
    color: white;
}

/* ESTILO DO PORTFÓLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgb(128, 128, 128);
}

section.portfolio .flex {
    justify-content: space-around;
}

.img-port {
    width: 360px;
    height: 460px;
    background-color: darkred;
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
    transition: 6s;
}
.img-port2 {
    width: 360px;
    height: 460px;
    background-color: darkred;
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port2:hover {
    background-position: 100% 100%;
    transition: 2.5s;
}

.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.759);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.759);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay1:hover {
    opacity: 1;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO FORMS*/
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: rgb(41, 12, 12);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.644);
}

form textarea::placeholder {
    color: rgb(255, 255, 255, 0.644);
}

form textarea {
    resize: none;
    max-height: 300px;
}

form .btn-enviar {
    margin-top: 15px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}

/* RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgb(163, 163, 163);
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid darkolivegreen;
}

footer .line-footer p i {
    color: darkred;
    font-size: 22px;
}

footer .line-footer p a {
    color: darkolivegreen;
}

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo_do_site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 35px;
        text-align: center;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */
    section.topo_do_site {
        padding: 20px 8%;
    }

    .topo_do_site h1 {
        font-size: 32px;
    }

    .topo_do_site .img-topo-site img {
        width: 100%;
    }

    section.topo_do_site .flex {
        gap: 90px
    }

    /* ESTILO ESPECIALIDADES*/
    .section.especialidades {
        padding: 40px 8%;
    }

    .overlay1,
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.759);
        border-radius: 40px;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: white;
        opacity: 0;
        transition: .5s;
    }

    /* ESTILO SOBRE*/
    section.sobre {
        padding: 90px 4%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    section.formulario {
        padding-left: 15px;
        padding-right: 40px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }



}